# Day-4 Assignment

# Question-1

In [1]:
import pandas as pd # importing pandas with alias name pd
print(pd.__version__) # checking version of pandas

1.0.5

# Question-2

In [2]:
# Example-1

import numpy as np
population_dict={               # creating population dictionary
    'California':135554,
    'Texas':123456,
    'New york':46546674,
    'Florida':1451654,
    'Illionois':268948
}
print(type(population_dict))
print()
population=np.array(population_dict) # converting population to numpy array
print(population)
print()
print(type(population)) # printing type of population

<class 'dict'>

{'California': 135554, 'Texas': 123456, 'New york': 46546674, 'Florida': 1451654, 'Illionois': 268948}

<class 'numpy.ndarray'>

In [3]:
se=pd.Series(population)
print(se)
print()
print(type(se))

0    {'California': 135554, 'Texas': 123456, 'New y...
dtype: object

<class 'pandas.core.series.Series'>

In [4]:
# Example-2
d=[{'a':i,'b':2*i} for i in range(3)]
arr=np.array(d)
print(type(arr))
print()
s=pd.Series(arr)
print(s)
print(type(s))

<class 'numpy.ndarray'>

0    {'a': 0, 'b': 0}
1    {'a': 1, 'b': 2}
2    {'a': 2, 'b': 4}
dtype: object
<class 'pandas.core.series.Series'>

# Question-3

In [28]:
d=[{'a':i,'b':2*i} for i in range(3)]
print(d)
print(type(d))
print()
s=pd.Series(d,index=['a','b','c'])
print("converting list to series:\n",s)
print(type(s))
print()
df=pd.DataFrame(d)
print("converting list to dataframe:\n",df)
print(type(df))
print()
df['index']=s.index
print("converting index of series into column name of dataframe:\n")
print(df)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]
<class 'list'>

converting list to series:
 a    {'a': 0, 'b': 0}
b    {'a': 1, 'b': 2}
c    {'a': 2, 'b': 4}
dtype: object
<class 'pandas.core.series.Series'>

converting list to dataframe:
    a  b
0  0  0
1  1  2
2  2  4
<class 'pandas.core.frame.DataFrame'>

converting index of series into column name of dataframe:

   a  b index
0  0  0     a
1  1  2     b
2  2  4     c

# Question-4

In [30]:
import seaborn as sb
print(sb.__version__)

0.10.1

In [38]:
print(sb.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [39]:
ds=sb.load_dataset('mpg')
print(ds)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

# Question-5

In [67]:
print(ds['origin'].unique())

['usa' 'japan' 'europe']

# Question-6

In [70]:
us=ds.loc[ds['origin']=='usa']
print(us.sample(5))

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
46   22.0          4         140.0        72.0    2408          19.0
138  14.0          8         318.0       150.0    4457          13.5
284  20.6          6         225.0       110.0    3360          16.6
72   15.0          8         304.0       150.0    3892          12.5
305  28.4          4         151.0        90.0    2670          16.0

     model_year origin                       name
46           71    usa        chevrolet vega (sw)
138          74    usa  dodge coronet custom (sw)
284          79    usa              dodge aspen 6
72           72    usa           amc matador (sw)
305          79    usa      buick skylark limited